.footer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: #75777a;
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 600;
}