@import "../../../styles/variables.scss";

@mixin defaultFieldStyles {
    width: 100%;
    max-height: 54px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: 0;
    border: 1px solid $defaultInputBorder;
    transition: all 0.3s;
    padding: 1rem;
}

.container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.labelContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.label {
    color: $text-primary;
    margin-right: 20px;
}

.errorMessage {
    color: $red;
}

.fieldContainer {
    width: 100%;
    height: 54px;
    position: relative;
    border: 1px solid #E0E5E9;
    border-radius: 9px;
}

.field {
    @include defaultFieldStyles;

    box-sizing: border-box;
    border-radius: 8px;
    outline: 0;
    border: 1px solid #E0E5E9;
    transition: all 0.3s;
    padding: 15px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 17px;
    color: #333333;

    &:focus {
        border: 1px solid $blue-primary;
    }
}

.fieldError {
    @include defaultFieldStyles;
    border: 1px solid $red;

    &:focus {
        border: 1px solid $red;
    }
}

.fieldSucceed {
    @include defaultFieldStyles;
    border: 1px solid $green;

    &:focus {
        border: 1px solid $green;
    }
}

.action {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #75777A;

    &:hover {
        opacity: 0.8;
        transition: all .3s;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-top: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-top: 40px;
    }

    .fieldContainer {
        height: 70px;
    }

    .action {
        font-size: 14px;
    }

    .field {
        max-height: 70px;
        font-size: 28px;
        height: 70px;
    }
}