@import "../../../styles/variables.scss";

.container {
    width: 150vw;
    height: 122vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sliderContainer {
    width: 60vw;
    height: 100%;
    flex: 1.35 1;
    box-sizing: border-box;
    padding: 1.5rem 14rem 0.5rem 1.5rem;
}

.sliderWrapper {
    width: 120%;
    height: 100%;
    border-radius: 30px;
    background-color: #065BEA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}

.slideImage {
    max-width: 1013px;
    height: 659px;
    margin-bottom: 7rem;
    margin-right: 1rem;
    
    font-family: "Montserrat";
    list-style: none;
    filter: drop-shadow(0px 70px 75px rgba(0, 46, 123, 0.7));
}

.slideTitle,
.slideDescription {
    color: #FFFFFF;
    display: block;
    width: 512px;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 12px;
    margin-left: 16rem;
    padding-top: 1rem;
}

.slideTitle {
    font-size: 40px;
    padding-top: 0rem;
}

.slideDescription {
    font-size: 28px;
}

.logotype {
    display: flex;
    margin-left: 0rem;
    height: 4rem;
    margin-bottom: 14rem;
    color: #22252C;
}

.form {
    width: 40vw;
    height: 20vw;
    box-sizing: border-box;
    padding: 0rem 0rem 0rem 12.5rem;
    margin-bottom: 81rem;
}

.heading {
    display: flex;
    width: 100%;
    height: 168px;
    left: 600px;
    top: 94px;
    border-radius: 0px;
    margin-bottom: 7rem;

}

.signIn {
    display: flex;
    width: 100%;
    height: 136px;
    left: 900px;
    top: 196px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 61px;
    color: #333333;
}

.signInText {
    display: flex;
}

.text {
    display: flex;
    margin: 1rem;
}

.headingText {
    display: flex;
    color: #333333;
    font-family: "Montserrat";
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 6rem;
    margin-left: -22.5rem;
    font-size: 26px;
    width: 25vw;

}

.infoLinks {
    display: flex;
    width: 150px;
    height: 24px;
    left: 600px;
    top: 50px;
    justify-content: center;
}

.links {
    width: 15rem;
    display: flex;
}

.linksLink {
    width: 120px;
    display: flex;
    height: 25px;
    margin-top: 4rem;
    margin-left: 35px;
    justify-content: center;
    text-decoration: none;
    font-size: 29px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    color: #75777A;
}

.headingTextForm {
    color: #065BEA;
    font-family: "Montserrat";
    font-size: 29px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    margin-right: -13rem;
    margin-top: -1.5rem;
    width: 15vw;
    padding-top: 1rem;
    padding-left: 1.5rem;
    text-decoration: none;
}

.input {
    display: flex;
    width: 58vw;
    height: 30vw;
    margin-bottom: -13rem;
}

.button {
    display: flex;
    width: 152vh;
    height: 32vw;
}

Link {
    text-decoration: none;
}

@media (max-width: 1024px) {
    .container {
        height: 120%;
        width: 100%;
        
    }
    .sliderContainer {
        height: 100%;
        width: 30%;
    }

    .sliderWrapper {
        width: 100%;
        height: 100%;
    }

    .form {
        height: 50%;
        width: 40%;
    }

    .logotype {
        height: 4%;
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .sliderContainer {
        height: 100%;
        width: 10%;
    }

    .sliderWrapper {
        width: 100%;
        height: 100%;
    }

    .form {
        height: 50%;
        width: 30%;
        display: flex;
    flex-wrap: wrap;
    align-content: center;
    }

    .logotype {
        height: 4%;
        margin-left: 2rem;
    }

    
}

@media (max-width: 480px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
        width: 100%;
    }
}

