@import "../../../styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sliderContainer {
    background-color: $blue-primary;
    background-image: url(../../../assets/img/slider_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.slide {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.slideImage {
    width: 100%;
    box-shadow: 0px 14px 46px 8px rgba(0, 46, 123, 0.7);
    margin-bottom: 40px;
}

.slideTitle {
    color: rgba($color: $background, $alpha: 0.9);
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.slideDescription {
    text-align: center;
    color: $background;
    font-size: 12px;
    font-weight: 400;
}

.formContainer {
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.heading {
    font-size: 12px;
    margin-bottom: 40px;
}

.headingLink {
    text-decoration: none;
    color: $blue-primary;
    transition: all 0.3s;

    &:hover {
        color: #0a4ab6;
    }

    &:active {
        color: $blue-primary;
    }
}

@media screen and (min-width: 480px) {
    .slide {
        padding: 80px 80px 60px;
    }

    .formContainer {
        padding: 40px;
    }
}

@media screen and (min-width: 768px) {
    .slideImage {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        min-height: 100vh;
        padding: 20px;
    }

    .sliderContainer {
        width: 57%;
        min-height: 100%;
        border-radius: 15px;
    }

    .slide {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideImage {
        width: 80%;
        margin-bottom: 85px;
    }

    .slideTitle {
        font-size: 20px;
    }

    .slideDescription {
        font-size: 14px;
    }

    .formContainer {
        width: 43%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 100px 30px 80px;
    }

    .logo {
        margin-bottom: 110px;
    }

    .title {
        margin-bottom: 15px;
    }

    .heading,
    .headingLink {
        font-size: 14px;
    }

    .heading {
        margin-bottom: 65px;
    }
}