@import "../../../styles/variables.scss";

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderContainer {
    width: 60vw;
    height: 100%;
    flex: 1.35;
    box-sizing: border-box;
    padding: 1.5rem 0 1.5rem 1.5rem;
}

.sliderWrapper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: $blue-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage {
    width: 512px;
}

.slideTitle,
.slideDescription {
    color: $background;
    display: block;
    width: 512px;
    text-align: center;
}

.logotype {
    display: flex;
    left: 16.25%;
    right: -1.59%;
    top: 28.66%;
    bottom: 22.89%;
    margin-left: 9rem;
    margin-bottom: 5rem;
}

.form {
    width: 40vw;
    height: 25vw;
    box-sizing: border-box;
    padding: 0 5rem;
    margin-bottom: 10rem;
}

.heading {
    display: flex;
    width: 271px;
    height: 150px;
    left: 600px;
    top: 94px;
    border-radius: 0px;

}

.signIn {
    display: flex;
    width: 101px;
    height: 134px;
    left: 900px;
    top: 194px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100px;

}

.headingText {
    display: flex;
    color: #333333;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5rem;
    margin-left: -6.3rem;

}

.infoLinks {
    display: flex;
    width: 150px;
    height: 24px;
    left: 600px;
    top: 50px;
    justify-content: center;
}

.links {
    width: 15rem;
    display: flex;
}

.linksLink {

    width: 44px;
    display: flex;
    height: 25px;
    /* left: 1060px; */
    /* top: 826px; */
    margin-top: 4rem;
    margin-left: 2rem;
    justify-content: center;
}

.headingTextForm {
    color: $blue-primary;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    margin-left: 4rem;
    margin-top: -1.5rem;
}

