$background: #FFFFFF;
$text-primary: #333333;
$text-secondary: #75777A;
$blue-primary: #065BEA;
$blue-secondary: #0451D2;
$red: #FF4B26;
$green: #6FCF97;
$grey: #C6D0E0;
$defaultInputBorder: #E0E5E9;

