.slider,
.slide {
  max-width: 100%;
  height: 100%;
  bottom: 60px;
  left: 0px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vw;
}

.swiper-pagination {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: flex;
  filter: drop-shadow(rgba(255, 255, 255, 0.4));
}

.swiper-pagination-bullet-active {
  background: #FFFFFF;
}

@media screen and (min-width: 1440px) {
  .slide {
    width: 65%;
    margin-top: 25vh;
  }

  .slider {
    bottom: 22vh;
  }

  .sliderWrapper {
    width: 110vw;
    margin-top: 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets,
  .swiper-pagination-horizontal {
    
    left: 41.5vw;
    width: 25%;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}