.slider, .slide {
    max-width: 100%;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .slider, .slide {
        max-width: 30%;
    }
    
    
}