@import './styles/variables.scss';

body {
  
  margin: 0;
  font-family: 'Montserrat';
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: $background;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

