@import "../../../styles/variables.scss";

.button {
    width: 100%;
    height: 54px;
    border-radius: 8px;
    margin-top: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: $blue-primary;
    color: $background;
    transition: all 0.3s;    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    
    &:hover {
        background-color: $blue-secondary;
        filter: drop-shadow(0px 10px 12px rgba(0, 46, 123, 0.7));
    }

    &:active {
        background-color: $blue-primary;
        filter: drop-shadow(0px 10px 12px rgba(0, 46, 123, 0.7));
    }

    &:disabled {
        background-color: $grey;
        cursor: default;
    }
}

@media screen and (min-width: 1440px) {
    .button {
        height: 70px;
        margin-top: 60px;
        font-size: 16px;
    }
}